# Виртуальное окружение
venv/
.venv/

# Файлы кэша и скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/

# Локальные конфигурационные файлы и переменные окружения
.env
*.env
.flaskenv

# Логи
*.log
logs/

# Сборки и дистрибутивы
dist/
build/
*.egg-info/